<header>
  <!--TOPO PORTAL-->
  <div class="container">
    <div style="line-height: 43px">
      <div class="col-xs-12 col-sm-12 col-lg-12" style="text-align: center">
        <a
          href="http://www.senado.leg.br/senado/falecomosenado/"

          class="blue d-none d-sm-block"
          style="color: #fff; font-size: 12px; margin-left: 6em"
        >
          Fale com o Senado</a
        >
        <div class="pull-left">
          <a
            href="http://www.senado.leg.br/"
            title="Volta para a página inicial."
            class="logo"
          >
            <img
              src="../../assets/senado.svg"
              width="170"
              height="23"
              style="vertical-align: middle"
          /></a>
        </div>

        <nav class="navbar pull-right">
        
          <!-- Step 3: Toggle the value of the property when the toggler button is clicked. -->
          <button class="navbar-toggler pull-right" 
          type="button" 
          style="color: #fff;"
          (click)="isMenuCollapsed = !isMenuCollapsed">
            &#9776;
          </button>
        
          <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
            <ul class="navbar-nav dropdown-menu pull-right"
            id="menu-portais"
            role="navigation"
            >
              <li>
                <a href="http://www12.senado.leg.br/institucional"
                  >Institucional</a
                >
              </li>
              <li>
                <a href="http://www25.senado.leg.br/web/senadores/"
                  >Senadores</a
                >
              </li>
              <li>
                <a href="http://www25.senado.leg.br/web/atividade/"
                  >Atividade Legislativa</a
                >
              </li>
              <li>
                <a href="http://www12.senado.leg.br/noticias/">Notícias</a>
              </li>
              <li>
                <a href="http://www12.senado.leg.br/publicacoes/"
                  >Publicação e Documentação</a
                >
              </li>
              <li>
                <a href="http://www12.senado.leg.br/orcamento/">Orçamento</a>
              </li>
              <li>
                <a href="http://www12.senado.leg.br/transparencia/"
                  >Transparência</a
                >
              </li>
              <li>
                <a href="http://www12.senado.leg.br/ecidadania/">e-Cidadania</a>
              </li>
            </ul>
          </div>
        </nav>

      </div>
    </div>
  </div>
</header>



<nav class="navbar navbar-expand-lg navbar-light">
  <!-- IDENTIFICAÇÃO DO SITE -->

  <div>
    <div class="blue d-none d-sm-block">

          <h1 class="blue-portal">
            <a
              class="title-atividade-legislativa"
              ngbDropdownItem
              href="https://www25.senado.leg.br/web/atividade/home"
            >
              Atividade Legislativa
            </a>
          </h1>

    </div>
    <!-- <div
      role="button"
      class="d-md-none d-flex py-2 px-4 align-items-center text-body sidebar-collapsed"
    >
    
      Menu
    </div> -->
    <div class="d-md-none d-flex">
      <a class="navbar-brand" href="#">Menu</a>
    </div>
    <div>
      <button
        class="navbar-toggler pull-right d-md-none d-flex btn btn-outline-primary"
        type="button"
        data-toggle="collapse1"
        data-target="#navbarTogglerMenu"
        aria-expanded="false"
        aria-label="Toggle navigation"
        (click)="isCollapsed = !isCollapsed"
        [attr.aria-expanded]="!isCollapsed"
        aria-controls="navbarTogglerMenu"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</nav>

<nav>
  <div class="horizontal_dotted_line"></div>
</nav>

<nav class="navbar navbar-expand-lg">
  <div
    class="collapse navbar-collapse"
    id="navbarTogglerMenu"
    [ngbCollapse]="isCollapsed"
  >
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active" ngbDropdown>
        <a
          ngbDropdownItem
          class="nav-link"
          tabindex="0"
          ngbDropdownToggle
          id="navbarDropdown1"
          role="button"
        >
          Plenário
        </a>
        <div
          ngbDropdownMenu
          aria-labelledby="navbarDropdown1"
          class="dropdown-menu"
        >
          <a
            ngbDropdownItem
            ngbDropdownItem
            href="http://www25.senado.leg.br/web/atividade/sessao-plenaria"
            >Sess&atilde;o Plen&aacute;ria</a
          >
          <a
            ngbDropdownItem
            ngbDropdownItem
            href="http://www.senado.gov.br/atividade/plenario/ordemdodia"
            >Ordem do Dia</a
          >
          <a
            ngbDropdownItem
            ngbDropdownItem
            href="http://www25.senado.leg.br/web/atividade/pronunciamentos"
            >Pronunciamentos</a
          >
          <a
            ngbDropdownItem
            ngbDropdownItem
            href="http://www25.senado.leg.br/web/atividade/questoes-de-ordem"
            >Quest&otilde;es de Ordem</a
          >
          <a
            ngbDropdownItem
            ngbDropdownItem
            href="http://www25.senado.leg.br/web/atividade/votacoes-nominais"
            >Vota&ccedil;&otilde;es Nominais</a
          >
        </div>
      </li>

      <li class="nav-item active menu" ngbDropdown>
        <a
          ngbDropdownItem
          class="nav-link menu"
          tabindex="0"
          ngbDropdownToggle
          id="navbarDropdown1"
          role="button"
        >
          Projetos e Matérias
        </a>
        <div
          ngbDropdownMenu
          aria-labelledby="navbarDropdown1"
          class="dropdown-menu"
        >
          <a
            ngbDropdownItem
            ngbDropdownItem
            href="http://www25.senado.leg.br/web/atividade/materias"
            >Pesquisas</a
          >
          <a
            ngbDropdownItem
            ngbDropdownItem
            href="http://www25.senado.leg.br/web/atividade/materias/acompanhamento/minhas-materias"
            >Acompanhamento de matérias</a
          >
        </div>
      </li>

      <li class="nav-item active">
        <a ngbDropdownItem class="nav-link" href="#">Comissões</a>
      </li>

      <li class="nav-item active" ngbDropdown>
        <a
          ngbDropdownItem
          class="nav-link"
          tabindex="0"
          ngbDropdownToggle
          id="navbarDropdown1"
          role="button"
        >
          Relatórios Legislativos
        </a>
        <div
          ngbDropdownMenu
          aria-labelledby="navbarDropdown1"
          class="dropdown-menu"
        >
          <a
            ngbDropdownItem
            ngbDropdownItem
            href="http://www25.senado.leg.br/web/atividade/estatisticas"
            >Estatísticas</a
          >
          <a
            ngbDropdownItem
            ngbDropdownItem
            href="http://www25.senado.leg.br/web/atividade/resenhas"
            >Resenhas</a
          >
          <a
            ngbDropdownItem
            ngbDropdownItem
            href="http://www25.senado.leg.br/web/atividade/relatorio-da-presidencia"
            >Relat&oacute;rios da Presid&ecirc;ncia</a
          >
        </div>
      </li>

      <li class="nav-item active">
        <a
          ngbDropdownItem
          class="nav-link"
          href="http://www25.senado.leg.br/web/atividade/legislacao"
          >Legislação</a
        >
      </li>

      <li class="nav-item active">
        <a
          ngbDropdownItem
          class="nav-link"
          href="http://www25.senado.leg.br/web/atividade/conselhos"
          >Órgãos do Parlamento</a
        >
      </li>

      <li class="nav-item active">
        <a
          ngbDropdownItem
          class="nav-link"
          href="http://www25.senado.leg.br/web/atividade/autoridades"
          >Autoridades</a
        >
      </li>
    </ul>
  </div>
</nav>

<div class="blue-nav"></div>
<nav class="Nav-secundaria">
  <ul class="nav">
    <li>
      <a
        class="nav-secundaria-separador nav-secundaria-link"
        href="http://www12.senado.leg.br/multimidia"
        >Portal Multimídia</a
      >
    </li>
    <li>
      <a
        class="nav-secundaria-separador nav-secundaria-link"
        href="http://legis.senado.leg.br/diarios/Diario"
        >Diários e Anais</a
      >
    </li>
    <li>
      <a class="nav-secundaria-link" href="http://dadosabertos.senado.leg.br/"
        >Dados Abertos</a
      >
    </li>
  </ul>
</nav>
