.title-atividade-legislativa {
    color: #337ab7;

}

.title-atividade-legislativa:hover {
    text-decoration: underline; 
    background-color: rgb(255, 255, 255);
    
}

.fonte14 {
    font-size: 14px;
    
}