<nav aria-label="breadcrumb"></nav>

<nav>
  <ol>
    <li class="breadcrumb-item active fonte14" aria-current="page">
      <a
        class="title-atividade-legislativa"
        href="https://www25.senado.leg.br/web/atividade"
      >
        Atividade Legislativa
      </a>
      / Comissões
    </li>
  </ol>
</nav>

<div>
  <div class="card list-car">
    <h5 class="card-header">Agenda</h5>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Descricao</th>
            <th scope="col">Data início</th>
            <th scope="col">Local</th>
            <th scope="col">Número da Reunião</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let reuniao of reunioes">
            <td>{{ reuniao.descricao }}</td>
            <td>{{ reuniao.datainicio }}</td>
            <td>{{ reuniao.localreuniao }}</td>
            <td>{{ reuniao.numeroreuniaoconjunta }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
